@using System.Diagnostics.PerformanceData
@using System.Web.Mvc.Html
@using Microsoft.Ajax.Utilities
@using HtmlHelpers.BeginCollectionItem
@model JudgeApps.Models.Booth
<div class="booths">
    @using (Html.BeginCollectionItem("JudgeBoothMark"))
    {

        @Html.LabelFor(b => b.BoothId)
        @Html.DropDownListFor(m => m.BoothId, ((IEnumerable<SelectListItem>)ViewBag.PossibleRoles), "--Select Booth--", new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.BoothId)
        <a href="#" class="deleteRow">X</a>
    
    }
</div>